/* Add fonts here */


/* Custom colors */
:root {
--crimson: #790B25;
--red: #FF0000;
--green: #007200;
--lightgray: #EEEEEE;
--darkgray: #ABABAB;
--black: #000000;
}

/* style body */
body {
    background-color: #DFF2FF; 
    color:  var(--black);
    font-size: 1.5rem;
    height: 100vh;
    width: 100vw; 
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

#start-container{
margin-left: auto;
margin-right: auto;
text-align: center;
}

h1 {
    margin-top: 50px;
    font-size: 3.813rem;
}
/* Style Start Quiz button */
.startBtn {
 background-color: var(--green);   
 height: 50px;
 color: white;
 text-align: center;
 cursor: pointer;
 padding: 10px;
 font-size: 1.3rem;
 font-weight: bold;
}

/* Style disabled button */
.startBtn:disabled {
    background-color:  var(--lightgray);
    color: var(--darkgray);
    cursor: not-allowed;
}

/* Style name input container */
.nameInputBox {
    border: 2px solid var(--black); 
    height: 350px;
    width: 650px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.nameInputBox p {
    margin-top: 80px;
}

/*--------------------- Quiz Page--------------------- */
#quiz-container {
    background-color: pink;
    height: 100vh;
    width: 100vw; 
}

.sub-heading, .quiz-instruction {
    text-align: center;
}

/* style player name*/
.playername {
    display: flex;
    justify-content: space-around;
    color: var(--black);
    margin-top: 50px;
    background-color: white;
}

#human-points {
    display: flex;
    justify-content: left;
    margin-left: 200px;
}

#ques-container {
    border: 2px solid var(--black);
    height: 350px;
    width: 700px;
    background-color: var(--lightgray);
    border: none;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

.center-btn {
    margin-top: 30px;
    text-align: center;
}

/* Center question and re-order */
#quiz-questions {
    padding: 25px 40px 0px 40px;
    text-align: center;
    margin-top: 10px;
    order: 1;
}

/* Center answer option and re-order*/
#option-a {
    cursor: pointer;
    border: 1px solid black;
    width: 70%;
    border-radius: 30px;
    margin: 50px auto;
    padding: 10px;
    order: 2;
    font-size: 1.2rem;
}

/* Center answer option and re-order*/
#option-b{
    cursor: pointer;
    border: 1px solid black;
    width: 70%;
    border-radius: 30px;
    margin: -15px auto;
    padding: 10px;
    order: 3;
    font-size: 1.2rem;
}

/* Style End Quiz buttons */
.end-btn {
    background-color: var(--crimson);
    height: 50px;
    color: white;
    text-align: center;
    cursor: pointer;
    padding: 10px;
    font-size: 1.3rem;
    font-weight: bold;
   }

   /*----------------------- FIX TO LOOK THE SAME ON EVERY PAGE----------------------- */
   footer {
    text-align: center;
   }